/* -----------------------------------------
   Shared Styles
----------------------------------------- */

div.header {
  background: transparent url(../images/ffki-logo.svg) scroll no-repeat bottom right / auto 100%;
  min-height: 110px;
}

#flash_placeholder {
  background:url('../images/flash_placeholder.png');
  min-height:330px;
  margin-bottom:10px;
  background-repeat:no-repeat;
  max-width: 100%;
}

footer {
  background: #fafafa;
  margin-top: 1em;
  padding: 1em 0;
}

div.teaser {
  background: #333;
  padding-top: 1em;
  margin-bottom: 1em;
}

div.heading {
  background: #333;
  color: #fff;
  margin-bottom: 1.4em;
}

div.heading * {
  color: #fff;
}

h1 > .postdate {
  font-size: 0.3em;
  font-style: italic;
}

.entry-content li{
  margin-left: 2em;
  text-indent: -1em; 
}


/* -----------------------------------------
   bootstrap alerts
----------------------------------------- */

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-size: 1.1em;
  transition: opacity .15s linear;
}

.alert-success{
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

/* -----------------------------------------
   Firmware
----------------------------------------- */

.router{
  padding: 0px;
  text-align: center;
  width:70px;
  height: 60px;    
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #eeeeee;
  background-color: white;
}
.infolink{
  font-size: 0.8em;
  padding-left: 7px;
}

.firmwarelist {
  min-width:90%;
}

/* -----------------------------------------
   responsive design
----------------------------------------- */

@media only screen and (max-width: 570px) {
  div.header {
    background: transparent !important;
    min-height: 0px;
  }
  .teaser > div > div.eight.columns{
    max-height:305px;
  }
  #flash_placeholder {
    background-size:100%;
  }
}

@media only screen and (max-width: 480px) {
  .teaser > div > div.eight.columns{
    max-height:250px;
  }
}

@media only screen and (max-width: 380px) {
  .teaser > div > div.eight.columns{
    max-height:200px;
  }
}
