/* -----------------------------------------
   Shared Styles
----------------------------------------- */

div.header {
  background: transparent url(../images/ffki-logo.svg) scroll no-repeat bottom right / auto 100%;
  min-height: 110px;
}

#flash_placeholder {
  background:url('../images/flash_placeholder.png');
  min-height:330px;
  margin-bottom:10px;
  background-repeat:no-repeat;
  max-width: 100%;
}

footer {
  background: #fafafa;
  margin-top: 1em;
  padding: 1em 0;
}

div.teaser {
  background: #333;
  padding-top: 1em;
  margin-bottom: 1em;
}

div.heading {
  background: #333;
  color: #fff;
  margin-bottom: 1.4em;
}

div.heading * {
  color: #fff;
}

h1 > .postdate {
  font-size: 0.3em;
  font-style: italic;
}

.entry-content li{
  margin-left: 2em;
  text-indent: -1em; 
}

label.inputleft{
  float:left;
  min-width: 160px;
  font-weight: bold;
}
input.inputright{
  width: 370px;
  border-radius: 4px;
}
textarea, input[type='text'], input[type='email'], input[type='password'], select {
  transition: all 0.30s ease-in-out;
  border:1px solid
  padding: 4px;
}
textarea:focus, input[type='text']:focus, input[type='email']:focus, input[type='password']:focus, select:focus {
  background-color: #fff;
  border:1px solid
  padding: 4px;
  border-color: rgba(82, 168, 236, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
  outline: 0 none;
}

/* -----------------------------------------
   bootstrap alerts
----------------------------------------- */

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-size: 1.1em;
  transition: opacity .15s linear;
}

.alert-success{
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.alert-info {
    color:#31708f;
    background-color:#d9edf7;
    border-color:#bce8f1
}

/* -----------------------------------------
   Firmware
----------------------------------------- */

.router{
  padding: 0px;
  text-align: center;
  width:70px;
  height: 60px;    
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #eeeeee;
  background-color: white;
}
.infolink{
  font-size: 0.8em;
  padding-left: 7px;
}

.firmwarelist {
  min-width:90%;
}

#firmware-info-box a{
  font-size: 12px;
  word-wrap: break-word;
}

.nodealarm-link{
  position:absolute;
  top:3px;
  right:10px;
  font-size: 1.1em;
}
.nodealarm-info{
  display:none;
}

.alertsign::after{
  content:"\26a0";
  font-size: 2em;
  padding-right:2px;
}

.numnodes{
  position:absolute;
  margin-left:-120px;
  margin-top:24px;
  width: 118px;
  height: 92px;
}

/* -----------------------------------------
   responsive design
----------------------------------------- */

@media only screen and (max-width: 1024px) {
  .nodealarm-link{
    font-size: .8em;
    right:2px;
  }
}

@media only screen and (max-width: 870px) {
  div.header {
    background: transparent !important;
  }
  .numnodes{
    margin-left:-20px;
  }
  input.inputright{
    width: 100%;
  }
}

@media only screen and (max-width: 730px) {
  .numnodes{
    display: none;
  }
} 

@media only screen and (max-width: 570px) {
  div.header {
    background: transparent !important;
    min-height: 0px;
  }
  .teaser > div > div.eight.columns{
    max-height:305px;
  }
  #flash_placeholder {
    background-size:100%;
  }
}

@media only screen and (max-width: 480px) {
  .teaser > div > div.eight.columns{
    max-height:250px;
  }
}

@media only screen and (max-width: 380px) {
  .teaser > div > div.eight.columns{
    max-height:200px;
  }
}
